<div class="animated fadeIn ">

  <div class="row ">
    <div style="width:100% !important;">
      <div class="card">
        <div class="card-header">
          <strong>Course Data</strong>
        </div>

        <div  class="card-body ">
          <form   class="form-horizontal" #f="ngForm" (ngSubmit)="f.form.valid && onSave()" >

            <div class="form-group row">
              <label class="col-md-2 col-form-label font-weight-bold" for="name">Course Name</label>
              <div class="col-md-6">
                <input maxlength="100" [(ngModel)]="course.name"  #name="ngModel" [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" required type="text"  name="name" class="form-control" >
                <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
                  <div *ngIf="name.errors.required">this field is required</div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 col-form-label font-weight-bold" for="description">description</label>
              <div class="col-md-6">
                <input maxlength="100" [(ngModel)]="course.description"  type="text"  name="description" class="form-control" >
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 col-form-label font-weight-bold" for="publishDate">Publish Date</label>
              <div class="col-md-6">
                  <input  [(ngModel)]="course.publishDate" #publishDate="ngModel" [ngClass]="{ 'is-invalid': f.submitted && publishDate.invalid }" required class="form-control" type="date" name="publishDate"  placeholder="date">
                  <div *ngIf="f.submitted && publishDate.invalid" class="invalid-feedback">
                      <div *ngIf="publishDate.errors.required"> this field is required</div>
                  </div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-2 col-form-label font-weight-bold" for="lastUpdated">Last Updated</label>
              <div class="col-md-6">
                  <input  [(ngModel)]="course.lastUpdated" #lastUpdated="ngModel" [ngClass]="{ 'is-invalid': f.submitted && lastUpdated.invalid }" required class="form-control" type="date" name="lastUpdated"  placeholder="date">
                  <div *ngIf="f.submitted && lastUpdated.invalid" class="invalid-feedback">
                      <div *ngIf="lastUpdated.errors.required"> this field is required</div>
                  </div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-2 col-form-label font-weight-bold" for="totalHours">Total Hours</label>
              <div class="col-md-6">
                <input [(ngModel)]="course.totalHours"  #totalHours="ngModel" [ngClass]="{ 'is-invalid': f.submitted && totalHours.invalid }" required type="number"  name="totalHours" class="form-control" >
                <div *ngIf="f.submitted && totalHours.invalid" class="invalid-feedback">
                  <div *ngIf="totalHours.errors.required">this field is required</div>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-2 col-form-label font-weight-bold" for="instructor">Instructor</label>
              <div class="col-md-6">
                <input maxlength="100" [(ngModel)]="course.instructor"  #instructor="ngModel" [ngClass]="{ 'is-invalid': f.submitted && instructor.invalid }" required type="text"  name="instructor" class="form-control" >
                <div *ngIf="f.submitted && instructor.invalid" class="invalid-feedback">
                  <div *ngIf="instructor.errors.required">this field is required</div>
                </div>
              </div>
            </div>

            <div class="card-footer">
              <button type="submit" class="btn btn-sm btn-primary" ><i class="fa fa-dot-circle-o"></i>
                Register</button>
              <button type="reset" class="btn btn-sm btn-danger" (click)="close()"><i class="fa fa-ban"></i> Close</button>
            </div>
  
          </form>
        </div>
        
      </div>

    </div>

  </div>
  <!--/.row-->
</div>